﻿@model StreakrItem

<form asp-action="AddItem" method="POST">
    <label asp-for="ItemName">Add a new item:</label>
    <input asp-for="ItemName">
    <label asp-for="DaysBeforeStreakEnds">Resets in? (1-5 days)</label>
    <input type="number" min="1" max="5" value="1" asp-for="DaysBeforeStreakEnds">
    <button type="submit">Add</button>
</form>