﻿@model StreakrViewModel

@{
    ViewData["Title"] = "Streakr!";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>&#x2714;</td>
            <td>Streak</td>
            <td>Days this streak</td>
            <td>Best streak</td>
        </tr>
        </thead>

        @foreach (var item in Model.StreakrItems)
        {
            <tr>
                @if (item.DoneToday)
                {
                    <td><input type="checkbox" disabled checked/></td>
                }
                else
                {
                    <td>
                        <form asp-action="MarkCompleted" method="POST">
                            <input type="checkbox" class="done-checkbox">
                            <input type="hidden" name="id" value="@item.Id">
                        </form>
                    </td>
                }              
                <td>@item.ItemName</td>
                <td>@item.CurrentStreak</td>
                <td>@item.HighestStreak</td>
                <td>
                    <form asp-action="RemoveItem" method="POST">
                        <button type="submit">del</button>
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
            </tr>
        }
    </table>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new StreakrItem())
    </div>
</div>