﻿@{
    ViewData["Title"] = "Streakr.";
}

<div class="row">
    <div class="col-md-4">
        <h2>What is Streakr?</h2>
        <p>Streakr is designed to be an aid to habit-forming. It's not trying to be a replacement for a to-do or GTD application 
            but rather a place to store more ideal tasks that you want to try and achieve daily or every few days. 
            Want to practice piano every day? Start a streak and track your progress!</p>
    </div>
    <div class="col-md-4">
        <h2>Use Cases.</h2>
        <p>Initially inspired by #100daysofcode and created as a way of logging progress. Ideal for things that you want
            to habitually do everyday. Code, running, music... whatever! Track your streak with Streakr!</p>
    </div>
    <div class="col-md-4">
        <h2>Roadmap.</h2>
        <p>Currently Streakr is in pre-alpha and not accepting testers pubically. Eventually we aim to provie a free service
            to aid in habit forming on multiple platforms. Watch this space!</p>
    </div>
</div>
