﻿@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <label asp-for="DueAt">Due</label>
    <input asp-for="DueAt" class="datepicker">
    <button type="submit">Add</button>
</form>