@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
    </tr>
    </thead>

    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Delete User</td>
    </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="RemoveUser" method="POST">
                    <button type="submit">del</button>
                    <input type="hidden" name="id" value="@user.Id">
                </form>
            </td>
        </tr>
    }
</table>